.infos-bar {
    padding: 16px 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: #000;

            b {
                color: #000;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        & {   // aqui usamos & para se referir a .infos-bar
            display: block;
        }
        
        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 640px) {
        &__infos {
            gap: 16px;
        }
    }
}